.venv
**/__pycache__/
.idea
**/*.zip
*.egg-info
*.egg
*.pyc
structure
**/*.log
**/log/
**/logs/
**/log
**/logs
log/
logs/
log
logs
*.log
todo
todo.md
**/data/**.json
**/data/**.csv
/pybet/data/reports/**